# ⚠️ ВАЖНО: НЕ ВЫКЛАДЫВАЙТЕ СЕКРЕТЫ В ИНТЕРНЕТ!

# Секретный файл с токеном
js/config.js

# Папка с зависимостями
node_modules/

# Временные файлы
*.tmp
*.log
.DS_Store

# Резервные копии
*.backup
*.bak